/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

/* Body Style */
html {
  background-color: var(--clr-stone100);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--fs-base);
  font-size: var(--font-paragraph);
  color: var(--clr-stone900);
  background-color: white;
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  border-radius: 16px;
  line-height: 2;
  padding: 2rem;
}

.image img{
  margin-bottom: 20px;
  border-radius: 15px;
}

.box{
  margin: 20px auto;
  padding: 15px;
  background-color: var(--clr-rose50);
  color: var(--clr-rose800);
  border-radius: 15px;
}

.pink-box{
  background-color: var(--clr-rose50);
  padding: 20px;
  margin: 15px auto;
  border-radius: 15px;
  
  p{
    size: --font-sub-header;
    color: var(--clr-rose800);
  }
  p1{
    color: var(--clr-stone600);
  }
}

h1 {
  font-family: var(--fs-accent);
}

h2 {
  font-family: var(--fs-base);
  color: --clr-brown800;
}

h3 {
  font-family: var(--fs-accent);
  color: --clr-brown800;
  font-size: var(--font-sub-header);
  
}

.preparation-time ul li{
  margin-left: -1rem;
  padding-left: 1rem;
  color: var(--clr-rose800);
}

.ingredients ul li{
  margin-left: -1rem;
  padding-left: 1rem;
  color: var(--clr-brown800);
}

.instructions ol li{
  margin-left: -1rem; 
  padding-left: 1rem;
}

@media (max-width: 768px) {
  body {
    padding: 0;
    margin:  0;
   
    border-radius: 0;
  }

  .image {
    margin: 0; 
    padding: 0;
  }

  .image img {
    width: 100%; 
    border-radius: 0;
    margin: 0;
  }
  .description, .pink-box, .ingredients, .instructions, .nutrition {
    padding-left: 2rem; 
    padding-right: 2rem; 
  }
  .mainHeading {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .description {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
.pink-box {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem; 
  margin-right: 2rem; 
  width: calc(100% - 4rem);
}

}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }